@charset "UTF-8";
/* CSS Document */

body {
	background-color: #f1f1f1;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

a {
	color: #e44b3d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
	padding: 0px;
}

ul {
	border: 0;
	margin: 0;
	padding: 0; 
	font-size: 12px;
	list-style: none;
}


#page {
	background-color: #fff;
	color: #000;
	margin: auto;
	padding: 0;
	width: 850px;
}

#top {
	width: 850px;
	height: 180px;
	margin: auto;
	background-color: #e1e1e1;
}

#top img {
    float: left;
}

#content {
	background-color: #fff;
	margin: auto;
	padding: 0;
	width: 850px;
	float: left
}

#content_video {
	background-color: #fff;
	margin-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
	width: 820px;
	float: left;
}

#pager  {
	width: 830px;
	margin: auto;
	float: left;
	text-align: center; 
	font-size: 12px;
	font-weight: bold;
}

#footer  {
    background-color: #fff;
	width: 830px;
	margin: auto;
	float: left;
	text-align: center; 
	font-size: 10px;
	padding: 10px;
}

#videos {
	background-color: #fff;
	width: 670px;
	float: left;
}

#videos img {
	float: left;
	width: 120px;
	height: 80px;
	padding: 0px;
	margin-right: 5px;
}

#videos li {
	display: inline;
	float: left;
}

#videos div {
	background-color: #fff;
	width: 120px;
	height: 110px;
	padding: 20px;
	overflow: hidden;
	text-align: left;
}

#videos .spacer {
	display: none;
}

#videos div:hover .description {
	width: 280px;
	height: auto;
	min-height: 110px;
	margin-left: 13px;
	margin-top: 13px;
	padding: 5px;
	text-align: left;
	border: 2px ridge #E44B3D;
	background-color: #fff;
	z-index: 100;
	overflow: visible;
	display: inline;
	position: absolute;
}

#videos div:hover .spacer {
	display: inline;
}

#rss {
	text-align: right;
	color: #000;
	font-weight: normal;
	padding: 5px;
}

#av {
	float: right;
	margin-right: 48px;
	margin-top: 32px;
	width: 350px;
	font-size: 12px;
}

#av .overskrift {
	font-weight: bold;
	font-size: 16px;
}

#kategorier {
	color: #fff;
	font-weight: bold;
	line-height: 20px;
	background-color: #fff;
	width: 180px;
	float: right;
	padding-top: 3px;
}

#kategorier h2 {
    color: #5aad52;
	font-size: 16px;
}

#kategorier ul {
    background-color: #4b943e;
	padding: 10px;
}

#kategorier li {
	display: block;
	padding: 3px;
}

#kategorier li a {
	color: #fff;
}

#kategorier .active{
	margin-left: -8px;
}

#custom-menu {
	height: 35px;
	float: left;
  }

.custom-menu {
    background-image: url(meny1.png);
	background-repeat: no-repeat;
	height: 35px;
	float: left;
  }

.custom-menu a {
	display: block;
	width: 258px;
	padding: 10px;
}
